#calendar {
    width: 25%
}



#calendar span {
    display:inline-block;
    padding: 1em;
}

.selected {
    border: 1px solid black;
}

#calendar span:hover{
    background-color: antiquewhite; 
}